<!-- <div id="app-title" class="clearfix">
  <div> -->
    <p-menubar *ngIf="!isMobile" [model]="mainMenuItems" [autoDisplay]="!isTouchDevice">

      <p-menu #menu [popup]="true" [model]="hamburgerMenuItems"></p-menu>
      <a href="javascript:;" id="menu-button" (click)="menu.toggle($event)" [ngClass]="{'menu-shown': menu.visible}">
        <i class="fa fa-bars"></i>
      </a>

    </p-menubar>    

    <ng-container *ngIf="isMobile">
      <a href="javascript:;" id="menu-button" (click)="displayMenu = true">
        <i class="fa fa-bars"></i>
      </a>
      <p-sidebar [(visible)]="displayMenu" position="top" (onHide)="onSidebarHide($event)">
          <p-panelMenu #panelMenu [model]="mobileMenu" [multiple]="false"></p-panelMenu>
      </p-sidebar>
    </ng-container>
  <!-- </div>
</div> -->

<div id="app-wrapper" class="rtl-elem"> 
  <!-- <dynamic-form [formKey]="'B'" [isRtl]="true"></dynamic-form> -->

  <!-- <dynamic-app #app *ngIf="appUci && appKey" [appKey]="appKey" [appUci]="appUci" [appParams]="" [isRtl]="true"></dynamic-app> -->
  <!-- <app-wrapper [appKey]="appKey" [appUci]="appUci"></app-wrapper> -->
  <router-outlet></router-outlet>

  <p>JOB: {{ job }}</p>

</div>  

<app-my-loader></app-my-loader>

<!-- <p-messages class="rtl-elem"></p-messages> -->
<app-my-alerts></app-my-alerts>
